.yellowed{
    background: yellow;
    color: black;
}

.header{
    position: relative;
    z-index: 2;
    display: flex;
    background: #007aff;
    width: 100%;
    justify-content: space-between;
}

.header-container{
    height: 100%;
    position: relative;
}

.menu {
    position: relative;
    cursor: pointer;
    margin: auto 0;
    padding: 25px;
    transition: background 1s;
}

.line-1,
.line-2,
.line-3 {
    background-color: white;
    height: 3px;
    width: 22px;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}
.line-3{
    margin-bottom: 0;
}
/* When clicked*/
.line-1.is-clicked {
    /* background: black; */
    transform: translateY(8px) rotate(45deg);
    transform-origin: center center;
}

.line-2.is-clicked {
    transform:  translateX(-100%);
    opacity: 0;
}

.line-3.is-clicked {
    /* background: black; */
    transform:  translateY(-8px) rotate(-45deg);
    transform-origin: center center;
}

.indicator-box{
    display: inline-flex;
}
.indicator{
    font-size: 36px;
    color: whitesmoke;
    margin: auto 15px;
}

@media screen and (max-width: 640px){

}

@media screen and (max-width: 1440px){

}

@media screen and (min-width: 1440px){

}