.mobile-menu{
    font-family: 'Poppins', sans-serif;
    font-size: 1.75em;
    font-weight: 500;
    box-sizing: border-box;
    max-width: 640px;
    position: absolute;
    top: 75px;
    width: 100%;
    z-index: 30;
    background: whitesmoke;
    opacity: 1;
}

.mobile-menu ul{
    list-style: none;
    padding: 0 20px;
    margin: 0
}

li{
    padding: 2% 0;
}

li > ul{
    background: rgba(128, 128, 128, .4)
}

li:not(:last-child){
    border-bottom: 1px solid rgba(128, 128, 128, .2);
    
}